<td>
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Options
        </button>
        <div class="dropdown-menu">
            <input class="dropdown-item" type="submit" name="submitButton" value="Update" />
            <input class="dropdown-item" type="submit" name="submitButton" value="Delete" />
        </div>
    </div>
</td>